chromadb
fastapi
langchain-chroma
langchain-classic
langchain-community
langchain-openai
langchain-text-splitters
psycopg2-binary
azure-storage-blob
azure-identity
azure-keyvault-secrets
openai
pypdf
python-dotenv
python-multipart
requests
streamlit
uvicorn[standard]
